.custom-background-black{
    background: rgb(0,0,0) !important;
}

.custom-background-white {
    background: rgb(255, 255, 255) !important;
}

.custom-color-white{
    color: rgb(255, 255, 255) !important;
}

.custom-section{
    padding: 20px 20px 20px 20px !important;
}

.custom-mini-section{
    margin: 5px 5px 5px 5px !important;
}

.custom-mini-image{
    max-height: 100px !important;
    max-width: 100px !important;
}

.custom-instr-image{
    max-height: 1000px !important;
    max-width: 1000px !important;
}

.custom-micro-image{
    max-height: 30px !important;
    max-width: 30px !important;
}

.custom-login-navbar {
    background: #f8f8f8 !important;
    margin-bottom: 0px !important;
}

.custom-small-padding-bottom{
    padding-bottom: 10px !important;
}

.custom-product-card{
    text-decoration: none !important;
}

.custom-brand-small {
    font-weight: bolder !important;
    font-style: italic !important;
    /*font-size: xx-large !important;*/
    color: var(--brand-blue) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-green {
    font-weight: bolder;
    font-style: italic !important;
    font-size: xx-large;
    color: var(--brand-green) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-green-small {
    font-weight: bolder;
    font-style: italic !important;
    /*font-size: xx-large;*/
    color: var(--brand-green) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-white {
    font-weight: bolder;
    font-style: italic !important;
    font-size: xx-large;
    color: white !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-white-small {
    font-weight: bolder;
    font-style: italic !important;
    /*font-size: xx-large;*/
    color: white !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand:hover {
    /*font-weight: bolder;*/
    /*font-size: xx-large;*/
    /*color: var(--brand-blue) !important;*/
    text-decoration: none !important;
}

.custom-hidden {
    display: none !important;
}

.custom-show{
    display: block !important;
}

@font-face {
    font-family: 'Saladfont'; /*a name to be used later*/
    src: url('../fonts/font12.ttf'); /*URL to font*/
}

