:root {
    --brand-green: rgb(115, 198, 164);
    --brand-blue: rgb(0, 32, 98);
    --brand-gray: rgb(171, 171, 171);
}

.custom-contact {
    background: #f2f2f2 !important;
}

.custom-color-white {
    color: white !important;
}

.custom-color-green {
    color: var(--brand-green) !important;
}

.custom-bg-green {
    background: var(--brand-green) !important;
}

.custom-bg-green-1 {
    background: rgba(0, 255, 168, 0.85) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.85 !important;*/
}

.custom-bg-green-2 {
    background: rgba(0, 255, 168, 0.7) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.7 !important;*/
}

.custom-bg-green-3 {
    background: rgba(0, 255, 168, 0.55) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.55 !important;*/
}

.custom-bg-green-4 {
    /*background: var(--brand-green) !important;*/
    background: rgba(0, 255, 168, 0.4) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.4 !important;*/
}

.custom-bg-green-5 {
    /*background: var(--brand-green) !important;*/
    background: rgba(0, 255, 168, 0.25) !important;
    color: var(--brand-blue) !important;
    opacity: 0.25 !important;
}

.custom-color-dark-blue {
    color: var(--brand-blue) !important;
    /*opacity: 1 !important;*/
}

.custom-bg-dark-blue {
    background: var(--brand-blue) !important;
}

.custom-bg-dark-blue-1 {
    /*background: var(--brand-blue) !important;*/
    background: rgba(0, 32, 96, 0.85) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.85 !important;*/
}

.custom-bg-dark-blue-2 {
    /*background: var(--brand-blue) !important;*/
    background: rgba(0, 32, 96, 0.7) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.7 !important;*/
}

.custom-bg-dark-blue-3 {
    /*background: var(--brand-blue) !important;*/
    background: rgba(0, 32, 96, 0.55) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.55 !important;*/
}

.custom-bg-dark-blue-4 {
    /*background: var(--brand-blue) !important;*/
    background: rgba(0, 32, 96, 0.4) !important;
    color: var(--brand-blue) !important;
    /*opacity: 0.4 !important;*/
}

.custom-bg-dark-blue-5 {
    /*background: var(--brand-blue) !important;*/
    background: rgba(0, 32, 96, 0.85) !important;
    color: var(--brand-blue) !important;
    opacity: 0.25 !important;
}

.custom-bg-white {
    background: white !important;
}

.custom-bg-ice {
    background: rgb(240, 240, 255) !important;
}

.custom-bg-grice {
    background: rgb(240, 255, 240) !important;
}

.custom-color-gray {
    color: rgb(171, 171, 171) !important;
}

.custom-bg-gray {
    background: rgb(171, 171, 171) !important;
}

.custom-bg-black {
    background: black !important;
}

.custom-section {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.custom-super-section {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.custom-destaque {
    border-width: thick !important;
    border-color: var(--brand-green) !important;
    border-radius: 50% !important;
}

.custom-brand {
    font-weight: bolder !important;
    font-style: italic !important;
    font-size: xx-large !important;
    color: var(--brand-blue) !important;
    font-family: "Saladfont" !important;
    /*font-family: "Chewy" !important;*/
}

.custom-brand-small {
    font-weight: bolder !important;
    font-style: italic !important;
    /*font-size: xx-large !important;*/
    color: var(--brand-blue) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-green {
    font-weight: bolder;
    font-style: italic !important;
    font-size: xx-large;
    color: var(--brand-green) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-green-small {
    font-weight: bolder;
    font-style: italic !important;
    /*font-size: xx-large;*/
    color: var(--brand-green) !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-white {
    font-weight: bolder;
    font-style: italic !important;
    font-size: xx-large;
    color: white !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand-white-small {
    font-weight: bolder;
    font-style: italic !important;
    /*font-size: xx-large;*/
    color: white !important;
    /*font-family: "Franklin Gothic Heavy";*/
    font-family: "Saladfont" !important;
}

.custom-brand:hover {
    /*font-weight: bolder;*/
    /*font-size: xx-large;*/
    /*color: var(--brand-blue) !important;*/
    text-decoration: none !important;
}

.custom-background-1 {
    background: url(../img/blur/blur3.jpg) no-repeat 30% 30%;
}

.custom-background-2 {
    background: url(../img/blur/blur2.jpg) no-repeat 30% 30%;
}

.custom-background-3 {
    /*background: url(../img/bg/bg9.png) no-repeat 30% 30%;*/
    background: url(../img/bg/bg9.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-4 {
    background: url(../img/bg/bg10.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-5 {
    background: url(../img/blur/blur9.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-6 {
    background: url(../img/blur/blur11.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-7 {
    background: url(../img/bg/bg12.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-8 {
    background: url(../img/blur/blur11.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-background-9 {
    background: url(../img/blur/blur13.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.custom-hover-color-dark-blue {

}

.custom-hover-color-dark-blue:hover {
    color: var(--brand-blue) !important;
}

.custom-hover-bg-dark-blue {

}

.custom-hover-bg-dark-blue:hover {
    background: var(--brand-blue) !important;
}

.custom-hover-bg-green {

}

.custom-hover-bg-green:hover {
    background: var(--brand-green) !important;
    border-color: var(--brand-green) !important;
}

.custom-hover-color-gray {

}

.custom-hover-color-gray:hover {
    color: rgb(171, 171, 171) !important;
}

.custom-hover-bg-white {

}

.custom-hover-bg-white:hover {
    background: white !important;
}

.custom-hover-bg-gray{

}

.custom-hover-bg-gray:hover {
    background: var(--brand-gray) !important;
}

.custom-hover-color-white {

}

.custom-hover-color-white:hover {
    color: white !important;
    text-decoration: none !important;
}

.custom-hover-color-green {

}

.custom-hover-color-green:hover {
    color: var(--brand-green) !important;
}

.custom-border-dark-blue {
    border-color: var(--brand-blue) !important;
    border-width: 1px !important;
    border: solid !important;
}

.custom-border-green {
    border-color: var(--brand-green) !important;
    border-width: 1px !important;
    border: solid !important;
}

.custom-border-gray {
    border-color: rgb(171, 171, 171) !important;
    border-width: 1px !important;
    border: solid !important;
}

.custom-desc-image {
    max-height: 150px !important;
}

.custom-mini-image{
    max-width: 100px !important;
}

.custom-data-text{
    text-align: center;
    max-width: 200px !important;
}

.custom-desc-text {
    width: 100% !important;
    text-align: center !important;
}

.custom-home-image {
    max-height: 300px !important;
    text-align: center !important;
}

.custom-home-text {
    max-width: 400px !important;
    text-align: center !important;
}

.custom-header-text {
    font-size: large !important;
    width: 100% !important;
    text-align: center !important;
    max-width: 400px !important;
}

.custom-padding-20 {
    padding: 20px !important;
}

.custom-padding-20-mobile {
    padding: 20px !important;
}

.custom-padding-40 {
    padding: 40px !important;
}

.custom-padding-40-mobile {
    padding: 40px 40px 40px 40px !important;
}

.custom-mobile-padding-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.custom-heading {
    font-size: 35px !important;
    line-height: 50px !important;
}

.custom-round {

}

.custom-fade-in-right {
    /*padding: 70px 30px 60px 85px;*/
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.custom-fade-in-left {
    /*padding: 70px 30px 60px 85px;*/
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.custom-palavra-chave-blue{
    /*border-width: 1px !important;*/
    /*border-color: var(--brand-blue) !important;*/
    /*border: solid !important;*/
    /*text-decoration: underline !important;*/
}

.custom-palavra-chave-white{
    /*border-width: 1px !important;*/
    /*border-color: white !important;*/
    /*border: solid !important;*/
    /*text-decoration: underline !important;*/
}

.custom-palavra-chave-white-green{
    /*border-width: 1px !important;*/
    /*border-color: white !important;*/
    /*border: solid !important;*/
    /*text-decoration: underline !important;*/
}

.custom-palavra-chave-green{
    /*border-width: 1px !important;*/
    /*border-color: var(--brand-green) !important;*/
    /*border: solid !important;*/
    /*text-decoration: underline !important;*/
}

.custom-palavra-chave-white:hover{
    /*background: white !important;*/
    /*color: var(--brand-blue) !important;*/
    /*border-width: 1px !important;*/
    /*border-color: white !important;*/
    /*border: solid !important;*/
}

.custom-palavra-chave-white-green:hover{
    /*background: white !important;*/
    /*color: var(--brand-green) !important;*/
    /*border-width: 1px !important;*/
    /*border-color: white !important;*/
    /*border: solid !important;*/
}

.custom-palavra-chave-green:hover{
    /*background: var(--brand-green) !important;*/
    /*color: white !important;*/
    /*border-width: 1px !important;*/
    /*border-color: var(--brand-green) !important;*/
    /*border: solid !important;*/
}

.custom-palavra-chave-blue:hover{
    /*background: var(--brand-blue) !important;*/
    /*color: white !important;*/
    /*border-width: 1px !important;*/
    /*border-color: var(--brand-blue) !important;*/
    /*border: solid !important;*/
}

.custom-right {
    text-align: right !important;
}

.custom-left {
    text-align: left !important;
}

.custom-show{
    visibility: visible !important;
}

.custom-hide{
    visibility: hidden !important;
}

.custom-more-info{
    width: 100% !important;
}

.procedure-details {
    max-height: 100px;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

@font-face {
    font-family: 'Saladfont'; /*a name to be used later*/
    src: url('../fonts/font12.ttf'); /*URL to font*/
}

/* Ajustes para mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="custom-super-section"] {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    [class*="custom-padding-20"] {
        padding: 0px !important;
    }

    [class*="custom-padding-40"] {
        padding: 0px !important;
    }
}

strong { font-weight: bolder !important; }